<div class="modal" tabindex="-1" [ngStyle]="{'display': name ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal Remove</h5>
      </div>
      <div class="modal-body">
        <p>Tem certeza que Deseja Remover o {{ name }}.</p>
      </div>
      <div class="modal-footer">
        <i class="bi-x-circle text-warning"  (click)="closeModal()" ></i>
        <i class="bi bi-trash text-danger"   (click)="remove_product()" ></i>
      </div>
    </div>
  </div>
</div>
